<script>
window.vueComponents = window.vueComponents || {};
// Composant 1 : file uploader (avec ou sans preview en fonction du fichier)
// Composant 2 : image uploader (alt + credit)
// Composant 3 : image uploader avec unsplash

(function () {
    if (vueComponents.imageUpload) {
        // Avoid declaring several times the component
        return;
    }

    vueComponents.imageUpload = {
        name: 'image-upload',
        data: function() {
            return {
                id: null,
                alt: '',
                credit: '',
                blob: null
            }
        },
        props: [
            'upload-url',
            'blob-url-template',
            'image'
        ],
        mounted: function() {
            console.log(this.$props.image);
            if (this.$props.image) {
                this.$data.blob = this.$props.image.blob;
                this.$data.id = this.$props.image.id;
                this.$data.alt = this.$props.image.alt;
                this.$data.credit = this.$props.image.credit;
            }
        },
        methods: {
            onFileImageChange: function (event) {
                'use strict';
                var files = event.target.files || event.dataTransfer.files;
                if (!files.length) {
                    return;
                }
                this.uploadFile(files[0]);
            },
            uploadFile: function (file) {
                'use strict';

                var url = this.$props.uploadUrl,
                    upload = new ActiveStorage.DirectUpload(file, url);

                upload.create(function (error, blob) {
                    if (error) {
                        console.log(error);
                    } else {
                        this.blob = blob;
                    }

                    this.onUpdate();

                }.bind(this));
            },
            getImageUrl: function () {
                'use strict';

                return this.$props.blobUrlTemplate
                    .replace(':signed_id', this.blob.signed_id)
                    .replace(':filename', this.blob.filename);
            },
            onUpdate: function () {
                this.$emit('update', {
                    blob: {
                        id: this.blob.id,
                        signed_id: this.blob.signed_id,
                        filename: this.blob.filename
                    },
                    alt: this.alt,
                    credit: this.credit
                });
            }
        },
        template: `
            <div>
                <img :src="getImageUrl()" class="img-fluid d-block mb-2" v-if="blob" />
                <label class="form-label">
                    Image
                </label>
                <input class="form-control mb-2"
                    type="file"
                    accept="image/*"
                    @change="onFileImageChange($event)">
                <label class="form-label">
                    Texte alternatif
                </label>
                <input class="form-control mb-2"
                    type="text"
                    v-model="alt"
                    @input="onUpdate">
                <label class="form-label">
                    Crédit
                </label>
                <input class="form-control mb-2"
                    type="text"
                    v-model="credit"
                    @input="onUpdate">
            </div>
            `
    };
})();


</script>